@model ApplicationCore.ViewModel.Menu.ManagementAppMenuViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>حذف</h1>


<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppMenu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppMenu.MenuClass)
        </dd >
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">بازگشت به لیست</a>
    </form>
</div>
