@model ApplicationCore.ViewModel.Stuff.PriceConsumerViewModel

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>PriceConsumer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stuff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stuff.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">ویرایش</a> |
    <a asp-action="Index">بازگشت به لیست</a>
</div>
