@model IEnumerable<ApplicationCore.ViewModel.Stuff.StuffViewModel>
@if (!Model.Any())
{
    <div class="alert alert-info">
       رکوردی یافت نشد
    </div>
}
else
{

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ManualCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LatinName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShortName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StuffGroup)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StuffUnit.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WebUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Brand)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.BarcodeId)
                    </th>*@

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ManualCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LatinName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StuffGroup.GroupName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StuffUnit.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WebUrl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand.Name)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.BarcodeId)
                        </td>*@

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">جزئیات</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


    


<div class="loading-inner" id="global-ajax-loading">
    <div class="loading">
        <div class="loading-figure"></div>
        @*<p class="loading-label">please wait ...</p>*@
    </div>
</div>


@await Html.PartialAsync("_StuffPagedList")



