@model ApplicationCore.ViewModel.User.UserGroupRoleViewModel

@{
    ViewData["Title"] = "Details";
}



<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserGroup.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleGroup.Name)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">ویرایش</a> |
    <a asp-action="Index">بازگشت به لیست</a>
</div>
