@model IEnumerable<ApplicationCore.ViewModel.User.UserGroupRoleViewModel>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create">افزودن</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserGroup.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleGroup.Name)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserGroup.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleGroup.Name)
            </td>
          
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> |
                <a asp-action="Details" asp-route-id="@item.Id">جزئیات</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
