@model ApplicationCore.ViewModel.Branch.DrawerPaymentViewModel

@{
    ViewData["Title"] = "Details";
}



<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentGroup.Class)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Drawer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Drawer.Name)
        </dd>
      
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">ویرایش</a> |
    <a asp-action="Index">بازگشت به لیست</a>
</div>
