@model IEnumerable<ApplicationCore.ViewModel.Branch.DrawerPaymentViewModel>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">افزودن</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentGroup.Class)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Drawer)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentGroup.Class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drawer.Name)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> |
                <a asp-action="Details" asp-route-id="@item.Id">جزئیات</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
