@model ApplicationCore.ViewModel.Holding.HoldingViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>حذف</h1>

<h3>تائید حذف</h3>
<div>
    <h4>Holding</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoldingName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoldingName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoldingNameEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoldingNameEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoldingLogo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoldingLogo)
        </dd>
      
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">بازگشت به لیست</a>
    </form>
</div>
