@model ApplicationCore.ViewModel.Currency.CurrencyViewModel

@{
    ViewData["Title"] = "Delete";
}

 

<h3>تائید حذف</h3>
<div>
     
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrencyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrencyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Symbol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Symbol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DecimalCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DecimalCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country.Name)
        </dd >
       
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">بازگشت به لیست</a>
    </form>
</div>
