@model ApplicationCore.ViewModel.Network.UtilityViewModel

@{
    ViewData["Title"] = "Delete";
}



<h3>تائید حذف</h3>
<div>
    <h4>Utility</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseInfoTargetId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseInfoTargetId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetworkInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetworkInfo.HostName)
        </dd >
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseInfoColorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseInfoColorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseInfoNatureId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseInfoNatureId)
        </dd>
     
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">بازگشت به لیست</a>
    </form>
</div>
