@model ApplicationCore.ViewModel.Chart.CompanyViewModel

@{
    ViewData["Title"] = "Details";
}



<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LatinName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LatinName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LegalName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LegalName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetworkInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetworkInfo.HostName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoId)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">ویرایش</a> |
    <a asp-action="Index">بازگشت به لیست</a>
</div>
